@import 'module/topic';//列表内容
@import 'module/page';//分页
$bbcywColor: #f7372c;

// .header{position: fixed;top: 0px;left: 0;width: 100%;z-index: 95;}
/*筛选分类滚动导航*/
.screen_tool{z-index: 2;width: 100%;background: #fff;position: relative;}
.screen_tool_fixed{position: fixed;top:0rem;border-top: 0px;}
.s_tool_line{padding: 10px 0px;width: 100%;background: #fff;border-bottom:1px solid #dddddd;}
.s_tool_line a{width: 25%;text-align: center;height: 30px;line-height: 30px;font-size: 14px;color: #727272;}
.select-icon{color:#bbbbbb;font-size:14px;margin-top: 4px;display: inline-block;vertical-align: middle;margin-left:5px;}
.screen_select{width: 100%;border-bottom: 1px solid #e0e0e0;overflow: hidden;}
.screen_select_fr{height: 24.2rem;overflow-y: scroll;}
.screen_select_fr li{border-bottom: 1px solid #dddddd;background: #f0f0f0;}
.screen_select_fr li .bianse{color: $bbcywColor;}
.screen_select_fr li a{color: #333;font-size: 15px;line-height: 36px;padding: 4px 10px;display: block;}
.screen_select_bg{width:100%;height:100%;background:rgba(0,0,0,.5);position:fixed;left:0;top:0;z-index:1;}
.hide{display: none;}
.show{}
.seled .select-icon{}
/*话题列表分类*/
.title-box{width:100%;height:46px;line-height:46px;}
.title-box .tit-name{color: $bbcywColor;font-size: 18px;height: 46px;line-height: 46px;padding-left: 3%;}
.title-box .small-text{font-size: 12px;font-weight: normal;margin-left: 5px;}
.main-link-box{padding:1rem 0;width:96%;margin:0 auto;}
.main-link-box .link-list{width: 33%;float: left;}
.main-link-box .links{color: #7c7c7c;font-size: 15px;display: block;text-align: center;height: 36px;line-height: 36px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.main-link-box .c-red .links,.main-link-box .links:active{color: #fff;background-color: $bbcywColor;border-radius:4px;}

/*end*/
