@import 'module/topic';//列表内容
@import 'module/page';//分页
$bbcywColor: #f7372c;

/*话题列表分类*/
.subnav{}
.title-box{width:100%;height:46px;line-height:46px;}
.title-box .tit-name{color: $bbcywColor;font-size:18px;height: 46px;line-height: 46px;padding-left: 3%;}
.title-box .small-text{font-size: 12px;font-weight: normal;margin-left: 5px;}
.main-link-box{padding:1rem 0;width:96%;margin:0 auto;}
.main-link-box .link-list{width: 25%;float: left;}
.main-link-box .links{color: #7c7c7c;font-size: 15px;display: block;text-align: center;height: 36px;line-height: 36px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.main-link-box .c-red .links,.main-link-box .links:active{color: #fff;background-color: $bbcywColor;border-radius:4px;}

/*end*/